// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

a:hover {text-decoration: underline;}
a:active {text-decoration: none;}
a:link {text-decoration: none;}
article a { text-decoration: none;}


